* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
}
button {
    background: rgb(121, 79, 8);
	color: #ffffff;
    border: none;
	border-radius: 5px;
	padding: 10px 30px;
	cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

input {
    margin-top:10px;
    padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.wrapper {
    position: absolute;
    padding: 20px;
    width: 35%;
    margin-left: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

header button {
    margin-left: auto;
}

.profile-img {
    height: 40px;
}

.profile-img img {
    max-height: 100%;
    max-width: 100%;
}

.content, form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.rent {
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

#rent-id {
    width: 50px;
}

.rent-info {
    display: flex;
}

.labels {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.labels label {
    margin-top: 7.5px;
    padding: 10px;
}

.audience {
    display: flex;
    justify-content: space-between;
}

.audience input {
    width: 50px;
    margin-right: 20px;
}

.audience label {
    margin-left: 20px;
}

form button {
    margin-top: 30px;
}
