* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    margin-left: 20%;
}

.search_options {
    margin: 10px 0px 0px 10px;
    display: flex;
}

.search_options select{
    padding: 5px 20px;
    margin-left: 10px;
	border-radius: 5px; 
    font-size: .8em;
}

.search_field {
    margin: 10px;
    display: flex;
}

.search_field input {
    margin-right: 10px;
    padding: 10px;
    width: 100%;
}

.search_field button {
    padding: 10px 40px;
    text-align: right;
    background: rgb(121, 79, 8);
	color: #ffffff;
    border: none;
    cursor: pointer;
}

.search_field button, input {
    border-radius: 5px;
    border: 1px solid;
}
