<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main_style.css">
    <link rel="stylesheet" type="text/css" href="css/sidenav.css">
    
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <title>Экспорт информации</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidenav">
            <a href="/main">Таблица оборудования МТО</a>
            <a href="/categories">Категории</a>
            <a href="/search">Поиск оборудования</a>
            <a href="/equipment/new">Добавить оборудование</a>
            <a href="/export">Экспорт информации</a>
            <a href="/rented-now">Взятое оборудование</a>
        </div>
    
        <div class="main">
            <div class="up">
                <button>Экспортировать информацию</button>
                
                <button>Фильтры</button>
            </div>
            
            <div class="info_table">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Инвентарный №</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Стоимость, руб</th>
                            <th scope="col">Износ, %</th>
                            <th scope="col">Ответственный, ФИО</th>
                            <th scope="col">Аудитория</th>
                        </tr>
                        
                    </thead>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                    <tr>
                        <td>11223344556677</td>
                        <td>Компуктер</td>
                        <td>56000</td>
                        <td>23,4</td>
                        <td>Лаврухин А.А.</td>
                        <td>213-4</td>
                    </tr>
                </table>
            </div>
            
        </div>
    
        <div class="footer">
            
            <a href="#"><</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">></a>
        </div>
    </div>
    
    
</body>
</html>